<% provide(:title, @restaurant.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="restaurant_info">
<h1><%= @restaurant.name %></h1>

<br /><%= "neighborhood: " if @restaurant.neighborhood!='' %><%= @restaurant.neighborhood %>
<br />address: <%= @restaurant.address %>
<br />postal code: <%= @restaurant.postal_code %>
<br />latitude: <%= @restaurant.latitude %>
<br />longitude: <%= @restaurant.longitude %>
<br />stars: <%= @restaurant.stars %>
<br />review count: <%= @restaurant.review_count %>
<br /><%= "is" if @restaurant.is_open!='' %> <%= @restaurant.is_open %><%= " now" if @restaurant.is_open!='' %>
<br /><%= "alcohol: " if @restaurant.alcohol!='' %><%= @restaurant.alcohol %>
<br />ambience: <%= "romantic, " if  @restaurant.ambience_romantic %>
<%= "intimate, " if  @restaurant.ambience_intimate %>
<%= "classy, " if  @restaurant.ambience_classy %>
<%= "hipster, " if  @restaurant.ambience_hipster %>
<%= "touristy, " if  @restaurant.ambience_touristy %>
<%= "trendy, " if  @restaurant.ambience_trendy %>
<%= "upscale, " if  @restaurant.ambience_upscale %>
<%= "casual" if  @restaurant.ambience_casual %>
<%= "unknown" if @restaurant.ambience_romantic==nil&&@restaurant.ambience_intimate==nil&&@restaurant.ambience_classy==nil&&@restaurant.ambience_hipster==nil&&@restaurant.ambience_touristy==nil&&@restaurant.ambience_trendy==nil&&@restaurant.ambience_upscale==nil&&@restaurant.ambience_casual==nil; %>
<%= "none" if @restaurant.ambience_romantic==false&&@restaurant.ambience_intimate==false&&@restaurant.ambience_classy==false&&@restaurant.ambience_hipster==false&&@restaurant.ambience_touristy==false&&@restaurant.ambience_trendy==false&&@restaurant.ambience_upscale==false&&@restaurant.ambience_casual==false; %>
<br /><%="offers bike parking" if @restaurant.bikeParking %><%="do not have bike parking" if @restaurant.bikeParking==false %>
<br /><%= "business accepts credit cards" if @restaurant.businessAcceptsCreditCards %><%= "business do not accept credit cards" if @restaurant.businessAcceptsCreditCards==false %>
<br />business parking: 
<%="garage, " if @restaurant.businessParking_garage %>
<%="street, " if @restaurant.businessParking_street %>
<%= "street, " if @restaurant.businessParking_validated %>
<%= "lot, " if @restaurant.businessParking_lot %>
<%= "valet" if @restaurant.businessParking_valet %>
<%= "none" if @restaurant.businessParking_garage==false&&@restaurant.businessParking_street==false&&@restaurant.businessParking_validated==false&&@restaurant.businessParking_lot==false&&@restaurant.businessParking_valet==false %>
<%= "unknown" if @restaurant.businessParking_garage==nil&&@restaurant.businessParking_street==nil&&@restaurant.businessParking_validated==nil&&@restaurant.businessParking_lot==nil&&@restaurant.businessParking_valet==nil %>
<br /> <%= "caters" if @restaurant.caters %><%= "do not cater" if @restaurant.caters==false %>

<br /> <%= "good for kids" if @restaurant.goodForKids %>
<%= "not good for kids" if @restaurant.goodForKids==false %>
<br />good for meal:
<%= "dessert, " if @restaurant.goodForMeal_dessert %>
<%= "latenight, " if @restaurant.goodForMeal_latenight %>
<%= "lunch, " if @restaurant.goodForMeal_lunch %>
<%= "dinner, " if @restaurant.goodForMeal_dinner %>
<%= "breakfast, " if @restaurant.goodForMeal_breakfast %>
<%= "brunch" if @restaurant.goodForMeal_brunch %>
<%= "none" if @restaurant.goodForMeal_dessert==false&&@restaurant.goodForMeal_latenight==false&&@restaurant.goodForMeal_lunch==false&&@restaurant.goodForMeal_dinner==false&&@restaurant.goodForMeal_breakfast==false&&@restaurant.goodForMeal_brunch==false%>
<%= "unknown" if @restaurant.goodForMeal_dessert==nil&&@restaurant.goodForMeal_latenight==nil&&@restaurant.goodForMeal_lunch==nil&&@restaurant.goodForMeal_dinner==nil&&@restaurant.goodForMeal_breakfast==nil&&@restaurant.goodForMeal_brunch==nil%>
<br /> <%= "has TV" if @restaurant.hasTV %><%= "do not have TV" if @restaurant.hasTV==false %>
<br /><%= "noise level: " if @restaurant.noiseLevel!='' %><%= @restaurant.noiseLevel %>
<br /><%= "open 24 hours" if @restaurant.open24Hours %><%= "do not open 24 hours" if @restaurant.open24Hours==false %>
<br /> <%= "has outdoor seating" if @restaurant.outdoorSeating %><%= "no outdoor seating" if @restaurant.outdoorSeating==false %>
<br /> <%= "restaurant's attire: " if @restaurant.restaurantsAttire!='' %><%= @restaurant.restaurantsAttire %>
<br /><%= "restaurant offers delivery" if @restaurant.restaurantsDelivery %><%= "restaurant do not offer delivery" if @restaurant.restaurantsDelivery==false %>
<br /> <%= "restaurant's good for groups" if @restaurant.restaurantsGoodForGroups %><%= "restaurant's not good for groups" if @restaurant.restaurantsGoodForGroups==false %>
<br /><%= "restaurant's price range (1-4): " if @restaurant.restaurantsPriceRange2!=nil %> <%= @restaurant.restaurantsPriceRange2 %>
<br /> <%= "restaurant offers reservations" if @restaurant.restaurantsReservations %><%= "restaurant do not offer reservations" if @restaurant.restaurantsReservations==false %>
<br /> <%= "restaurant offers table service" if @restaurant.restaurantsTableService %><%= "restaurant do not offer table service" if @restaurant.restaurantsTableService==false %>
<br /><%= "restaurant offers takeout" if @restaurant.restaurantsTakeOut %><%= "restaurant do not offer takeout" if @restaurant.restaurantsTakeOut==false %>
<br /><%= "wheel chair accessible" if @restaurant.wheelchairAccessible %><%= "wheel chair inaccessible" if @restaurant.wheelchairAccessible==false %>
<br /><%="WiFi: " if  @restaurant.wiFi!='' %> <%= @restaurant.wiFi %>
<br /><%="categories: " if  @restaurant.categories!='' %><%= @restaurant.categories %>
<br /><table class="table-striped" width="100%" border="1"><caption><h3>opening hours</h3></caption><tr><th>Day</th><th>From</th><th>to</th></tr><tr><td>Monday</td><td><%= @restaurant.hours_Monday.hour if @restaurant.hours_Monday!=nil%>:<%= @restaurant.hours_Monday.min if @restaurant.hours_Monday!=nil%></td> <td> <%= @restaurant.hours_Monday_end.hour if @restaurant.hours_Monday_end!=nil%>:<%= @restaurant.hours_Monday_end.min if @restaurant.hours_Monday_end!=nil%></td></tr>
<tr><td>Tuesday</td><td> <%= @restaurant.hours_Tuesday.hour if @restaurant.hours_Tuesday!=nil%>:<%= @restaurant.hours_Tuesday.min if @restaurant.hours_Tuesday!=nil%></td><td> <%= @restaurant.hours_Tuesday_end.hour if @restaurant.hours_Tuesday_end!=nil%>:<%= @restaurant.hours_Tuesday_end.min if @restaurant.hours_Tuesday_end!=nil%></td></tr>
<tr><td>Wednesday</td><td> <%= @restaurant.hours_Wednesday.hour if @restaurant.hours_Wednesday!=nil%>:<%= @restaurant.hours_Wednesday.min if @restaurant.hours_Wednesday!=nil%></td><td> <%= @restaurant.hours_Wednesday_end.hour if @restaurant.hours_Wednesday_end!=nil%>:<%= @restaurant.hours_Wednesday_end.min if @restaurant.hours_Wednesday_end!=nil%></td></tr>
<tr><td>Thursday</td><td> <%= @restaurant.hours_Thursday.hour if @restaurant.hours_Thursday!=nil%>:<%= @restaurant.hours_Thursday.min if @restaurant.hours_Thursday!=nil%></td><td> <%= @restaurant.hours_Thursday_end.hour if @restaurant.hours_Thursday_end!=nil%>:<%= @restaurant.hours_Thursday_end.min if @restaurant.hours_Thursday_end!=nil%></td></tr>
<tr><td>Friday</td><td> <%= @restaurant.hours_Friday.hour if @restaurant.hours_Friday!=nil%>:<%= @restaurant.hours_Friday.min if @restaurant.hours_Friday!=nil%></td><td> <%= @restaurant.hours_Friday_end.hour if @restaurant.hours_Friday_end!=nil%>:<%= @restaurant.hours_Friday_end.min if @restaurant.hours_Friday_end!=nil%></td></tr>
<tr><td>Saturday</td><td> <%= @restaurant.hours_Saturday.hour if @restaurant.hours_Saturday!=nil%>:<%= @restaurant.hours_Saturday.min if @restaurant.hours_Saturday!=nil%></td><td> <%= @restaurant.hours_Saturday_end.hour if @restaurant.hours_Saturday_end!=nil%>:<%= @restaurant.hours_Saturday_end.min if @restaurant.hours_Saturday_end!=nil%></td></tr>
<tr><td>Sunday</td><td> <%=  @restaurant.hours_Sunday.hour if @restaurant.hours_Sunday!=nil %>:<%= @restaurant.hours_Sunday.min if @restaurant.hours_Sunday!=nil%></td><td> <%= @restaurant.hours_Sunday_end.hour if @restaurant.hours_Sunday_end!=nil%>:<%= @restaurant.hours_Sunday_end.min if @restaurant.hours_Sunday_end!=nil%></td></tr>
 </table>
    </section>
  </aside>
    <div class="col-md-8">
      <% if @restaurant.reviews.any? %>
      <h3>Reviews (<%= @restaurant.reviews.count %>)</h3>
      
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>
